# Core functionality - changes here should be rare!
/src/app.py                   @bigexaminer
/src/backend/database.py      @bigexaminer
/src/backend/routers/auth.py  @bigexaminer

# The frontend will need refactored soon to be more object oriented.
/src/static/   @bigexaminer
